html,
body {
	height: 100%;
}

body {
    color: $fd585858;
	@extend %dmsans-400;
	font-size: 16px;
	line-height: 30px;
	display: flex;
	flex-direction: column;
}

.main{
	flex-grow: 1;
}

.container {
	max-width: 1770px;
	margin: 0 auto;
	padding: 0 30px;
}

.title{
	@extend %dmsans-700;
	font-size: 36px;
	line-height: 1.2;
	color: $f1a1a1a;
}

.filter{
	display: flex;
	justify-content: center;
	align-items: center;
}