html,
body {
	height: 100%;
}

body {
    color: $fd585858;
	@extend %dmsans-400;
	font-size: 16px;
	line-height: 30px;
	display: flex;
	flex-direction: column;
}

.clear{
	clear: both;
}

.main{
	flex-grow: 1;
}

.container {
	max-width: 1770px;
	margin: 0 auto;
	padding: 0 30px;
}

.container-small{
	max-width: 1230px;
	padding: 0 30px;
	margin: 0 auto;
}

.container-small-slider{
	max-width: 1230px;
	padding: 0 20px;
	margin: 0 auto;
}

.title{
	@extend %dmsans-700;
	font-size: 36px;
	line-height: 1.2;
	color: $f1a1a1a;
}

.filter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.partners{
	max-width: 1170px;
	padding: 0 86px 0 78px;
	margin: 0 auto;
	&__items{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.breadcrumbs{
	display: flex;
	justify-content: center;
	&__list{
		display: flex;
	}
	&__item{
		@extend %rubik-400;
		font-size: 14px;
		line-height: 1.7;
		color: transparentize($f222933, .4);
		position: relative;
		padding-right: 16px;
		&::after{
			content: '/';
			position: absolute;
			right: 4px;
			top: 0;
		}
		&:last-child{
			padding-right: 0;
			&::after{
				display: none;
			}
		}
	}
	&__link{
		color: inherit;
	}
}

.article.article--top{
	margin-top: 95px;
}

.pagination{
	display: flex;
	justify-content: center;
	&.pagination--list{
		justify-content: flex-start;
	}
	@extend %rubik-400;
	&__list{
		display: flex;
	}
	&__item{
		color: $f243f4d;
		width: 50px;
		height: 50px;
		background-color: #fff;
		border: 1px solid $ca3bbc8;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 15px;
		&:hover{
			background-color: $ca3bbc8;
			color: #fff;
		}
		&.pagination__item--active{
			background-color: $ca3bbc8;
			color: #fff;
		}
	}
	&__next{
		color: $f243f4d;
		height: 50px;
		background-color: white;
		border: 1px solid #a3bbc8;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 18px;
		&:hover{
			background-color: $ca3bbc8;
			color: #fff;
		}
	}
	&__link{
		color: inherit;
	}
}