@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    &__inner{
        background-color: $cfff;
        display: flex;
        justify-content: space-between;
		align-items: center;
        padding: 48px 0 45px;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 34px;
    }
    &__list-link{
        color: $f436372;
        font-size: 15px;
        line-height: 1;
        @extend %rubik-500;
        
    }
}

.user-nav{
    display: flex;
    &__circleBg{
        width: 52px;
        height: 52px;
        background-color: transparentize(#a3bbc8, .8);
        border-radius: 50%;
        position: relative;
    }
    &__circleBg-img{
        position: absolute;
        top: 18px;
        left: 18px;
    }
    &__ovalBg{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 178px;
        height: 52px;
        background-color: $cfcd7b6;
        border-radius: 52px;
        margin-left: 21px;
        position: relative;
        text-align: center;
        line-height: 18px;
        font-size: 10px;
        color: $f243f4d;
    }
    &__ovalBg-img{
        padding: 16px;
    }
    &__num-heart{
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: $cfff;
        border-radius: 50%;
        top: 11px;
        left: 50px;
    }
    &__num-cars{
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: $cfff;
        border-radius: 50%;
        top: 11px;
        left: 137px;
        
    }
    &__button{
        width: 52px;
        height: 52px;
        background-color: #a3bbc8;
        border-radius: 50%;
        margin-left: 18px;
        position: relative;
    }
    &__button-img{
        position: absolute;
        top: 15px;
        left: 16px;
    }
}

.footer {
    background-color: $cfff;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 60px;
    border-bottom: 1px solid transparentize(#a3bbc8, .6);
    &,
    & a{
        font-size: 14px;
        line-height: 24px;
        color: $f7b7b7b;
        @extend %rubik-400;
    }
    &__contacts{
        width: 230px;
        display: block;
        margin-right: 65px;
    }
    &__logo{
        display: block;
        margin-bottom: 30px;
    }
    &__title{
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 26px;
        text-transform: uppercase;
        @extend %dmsans-700;
    }
    &__items-nav{
        column-gap: 165px;
        width: 135px;
        flex: none;
    }
    &__form{
        max-width: 285px;
    }
    &__text{
        margin-bottom: 22px;
    }
    &__form-email{
        background-color: #fef7f0;
        border: none;
        max-width: 170px;
        padding: 14px 16px 15px;
        &::placeholder{
            @extend %dmsans-400;
            color: #234969;
            font-size: 12px;
        }
    }
    &__form-btn{
        border: none;
        background-color: #a3bbc8;
        padding: 14px 17px;
        @extend %dmsans-400;
        color: $cfff;
        cursor: pointer;
    }
}

.footer-bottom{
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: $f7b7b7b;
    @extend %rubik-400;
    &__menu{
        display: flex;
        & a{
            color: $f7b7b7b;
        }
    }
    &__menu-list + .footer-bottom__menu-list{
        margin-left: 12px;
        padding-left: 14px;
        position: relative;
        &::before{
            content: '|';
            position: absolute;
            left: 0;
        }
    }
}

.top-slider{
    background-color: $cfff;
    &__inner{
        background-color: $cfcd7b6;
    }
    &__item-inner{
        background-image:url('../images/slider-elipse.png');
        background-repeat:no-repeat;
        background-position: right 10% center;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding: 220px 0px 250px;
    }
    &__item-content{
        margin-left: 10%;
    }
    &__item-title{
        @extend %rubik-500;
        font-size: 72px;
        line-height: 1;
        text-transform: uppercase;
        color: $f243f4d;
        max-width: 470px;
        margin-bottom: 26px;
    }
    &__item-text{
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: $f436372;
    max-width: 366px;
    margin-bottom: 34px;
    }
    &__item-button{
        display: inline-block;
        background-color: $ca3bbc8;
        color: $cfff;
        @extend %buttonFont;
        padding: 24px 100px 21px 28px;
        position: relative;
        &::before{
            content: '';
            background-image: url('../images/icons/arrowBtn.svg');
            background-repeat: no-repeat;
            width: 22px;
            height: 9px;
            top: 25px;
            left: 160px;
            position: absolute;
        }
    }
    &__item-img{
        margin-right: 10%;
    }
}

.slick-dots{
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(-45px);
    li{
        margin: 0 6px;
        button{
            border: none;
            padding: 0;
            background-color: transparentize($cfff, 0.7);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            @extend %rubik-500;
            font-size: 10px;
            line-height: 30px;
            color: $f243f4d
        }
        &.slick-active{
            padding: 0;
            background-color: $cfff;
            border-radius: 50%;
            @extend %rubik-500;
            font-size: 10px;
            color: $f243f4d;
        }
    }
}


@import 'media';