@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
	&__inner {
		background-color: $cfff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 48px 0 45px;
	}
}

.menu {
	&__list {
		display: flex;
	}
	&__list-item + .menu__list-item {
		padding-left: 34px;
	}
	&__list-link {
		color: $f436372;
		font-size: 15px;
		line-height: 1;
		@extend %rubik-500;
	}
}

.user-nav {
	display: flex;
	&__circleBg {
		width: 52px;
		height: 52px;
		background-color: transparentize(#a3bbc8, 0.8);
		border-radius: 50%;
		position: relative;
	}
	&__circleBg-img {
		position: absolute;
		top: 18px;
		left: 18px;
	}
	&__ovalBg {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 178px;
		height: 52px;
		background-color: $cfcd7b6;
		border-radius: 52px;
		margin-left: 21px;
		position: relative;
		text-align: center;
		line-height: 18px;
		font-size: 10px;
		color: $f243f4d;
	}
	&__ovalBg-img {
		padding: 16px;
	}
	&__num-heart {
		position: absolute;
		width: 16px;
		height: 16px;
		background-color: $cfff;
		border-radius: 50%;
		top: 11px;
		left: 50px;
	}
	&__num-cars {
		position: absolute;
		width: 16px;
		height: 16px;
		background-color: $cfff;
		border-radius: 50%;
		top: 11px;
		left: 137px;
	}
	&__button {
		width: 52px;
		height: 52px;
		background-color: #a3bbc8;
		border-radius: 50%;
		margin-left: 18px;
		position: relative;
	}
	&__button-img {
		position: absolute;
		top: 15px;
		left: 16px;
	}
}

.footer {
	background-color: $cfff;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	padding: 50px 0 60px;
	border-bottom: 1px solid transparentize(#a3bbc8, 0.6);
	&,
	& a {
		font-size: 14px;
		line-height: 24px;
		color: $f7b7b7b;
		@extend %rubik-400;
	}
	&__contacts {
		width: 230px;
		display: block;
		margin-right: 65px;
	}
	&__logo {
		display: block;
		margin-bottom: 30px;
	}
	&__title {
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 26px;
		text-transform: uppercase;
		@extend %dmsans-700;
	}
	&__items-nav {
		column-gap: 165px;
		width: 135px;
		flex: none;
	}
	&__form {
		max-width: 285px;
	}
	&__text {
		margin-bottom: 22px;
	}
	&__form-email {
		background-color: #fef7f0;
		border: none;
		max-width: 170px;
		padding: 14px 16px 15px;
		&::placeholder {
			@extend %dmsans-400;
			color: #234969;
			font-size: 12px;
		}
	}
	&__form-btn {
		border: none;
		background-color: #a3bbc8;
		padding: 14px 17px;
		@extend %dmsans-400;
		color: $cfff;
		cursor: pointer;
	}
}

.footer-bottom {
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	line-height: 24px;
	color: $f7b7b7b;
	@extend %rubik-400;
	&__menu {
		display: flex;
		& a {
			color: $f7b7b7b;
		}
	}
	&__menu-list + .footer-bottom__menu-list {
		margin-left: 12px;
		padding-left: 14px;
		position: relative;
		&::before {
			content: '|';
			position: absolute;
			left: 0;
		}
	}
}

.top-slider {
	background-color: $cfff;
	&__inner {
		background-color: $cfcd7b6;
	}
	&__item-inner {
		background-image: url('../images/slider-elipse.png');
		background-repeat: no-repeat;
		background-position: right 10% center;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		padding: 220px 0px 250px;
	}
	&__item-content {
		margin-left: 10%;
	}
	&__item-title {
		@extend %rubik-500;
		font-size: 72px;
		line-height: 1;
		text-transform: uppercase;
		color: $f243f4d;
		max-width: 470px;
		margin-bottom: 26px;
	}
	&__item-text {
		@extend %rubik-400;
		font-size: 18px;
		line-height: 30px;
		color: $f436372;
		max-width: 366px;
		margin-bottom: 34px;
	}
	&__item-button {
		display: inline-block;
		background-color: $ca3bbc8;
		color: $cfff;
		@extend %buttonFont;
		padding: 24px 100px 21px 28px;
		position: relative;
		&::before {
			content: '';
			background-image: url('../images/icons/arrowBtn.svg');
			background-repeat: no-repeat;
			width: 22px;
			height: 9px;
			top: 25px;
			left: 160px;
			position: absolute;
		}
	}
	&__item-img {
		margin-right: 10%;
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	position: relative;
	transform: translateY(-45px);
	li {
		margin: 0 6px;
		button {
			border: none;
			padding: 0;
			background-color: transparentize($cfff, 0.7);
			width: 30px;
			height: 30px;
			border-radius: 50%;
			@extend %rubik-500;
			font-size: 10px;
			line-height: 30px;
			color: $f243f4d;
		}
		&.slick-active {
			padding: 0;
			background-color: $cfff;
			border-radius: 50%;
			@extend %rubik-500;
			font-size: 10px;
			color: $f243f4d;
		}
	}
}

.advantages {
	&__items {
		background-color: transparentize($cfcd7b6, 0.8);
		padding: 45px 0;
		display: flex;
		justify-content: space-around;
	}
	&__item {
		width: 370px;
		padding-left: 80px;
	}
	&__item-title {
		@extend %dmsans-700;
		font-size: 18px;
		line-height: 40px;
		color: $f414141;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			background-size: cover;
			left: -80px;
			top: 14px;
		}
		&.advantages__item-title-support::before {
			background-image: url('../images/icons/advantages-support.svg');
			width: 51px;
			height: 53px;
		}
		&.advantages__item-title-deliery::before {
			background-image: url('../images/icons/advantages-delivery.svg');
			width: 54px;
			height: 36px;
		}
		&.advantages__item-title-secure::before {
			background-image: url('../images/icons/advantages-secure.svg');
			width: 54px;
			height: 52px;
		}
	}
}

.product-week{
	padding-top: 75px;
	&__title{
		margin-bottom: 30px;
		text-align: center;
	}
	&__filter{
		margin-bottom: 100px;
	}
	&__filter-btn{
		background-color: transparent;
		padding: 0;
		border: none;
		@extend %dmsans-700;
		line-height: 1;
		color: $f8b8b8b;
		cursor: pointer;
	}
	&__filter-btn + .product-week__filter-btn{
		margin-left: 28px;
	}
}

.products{
	&__items{
		display: grid;
		min-height: 800px;
		max-width: 1170px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		margin: 0 auto;
		grid-gap: 30px;
		margin-bottom: 180px;

	}
	&__item{
		background-color: $cfff;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	&__item-link{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	&__item-img{
		margin-top: auto;
	}
	&__item-text{
		margin: auto 0 30px;
		text-align: center;
	}
	&__item-title{
		@extend %dmsans-500;
		line-height: 20px;
		color: $f243f4d;
	}
	&__item-costs{
		@extend %dmsans-700;
		line-height: 20px;
		color: $ca3bbc8;
	}
	&__item-icons{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
	}
	&__item-icons:hover{
		opacity: 1;
	}
	&__item-search,
	&__item-search:hover,
	&__item-care,
	&__item-care:hover,
	&__item-heart,
	&__item-heart:hover{
		position: absolute;
		top: 200px;
		left: 50%;
		transform: translateX(-50%);
		width: 46px;
		height: 46px;
		background-image: url('../images/icons/product-icons.svg');
	}
	&__item-search{
		background-position: 0px 0px;
		margin-left: -62px;
	}
	&__item-search:hover{
		background-position: 0px -62px;
	}
	&__item-care{
		background-position: -61px 0px;
		margin-left: 62px;
	}
	&__item-care:hover{
		background-position: -61px -62px;
	}
	&__item-heart{
		background-position: -122px 0px;
	}
	&__item-heart:hover{
		background-position: -122px -62px;
	}
}

.product-offer{
	display: flex;
	justify-content: space-between;
	&__item{
		background-color: transparentize($cfcd7b6, 0.6);
		display: flex;
		padding: 100px 90px;
	}
	&__img{
		margin-top: -194px;
		&-left{
			margin-left: 22px;
			margin-right: 18px;
		}
		&-right{
			margin-left: 32px;
			margin-right: 52px;
		}
	}
	&__content{
		color: $f243f4d;
		@extend %rubik-400
	}
	&__title{
		@extend %dmsans-700;
		font-size: 26px;
		line-height: 1.23;
		margin-bottom: 15px;
	}
	&__text{
		line-height: 1.875;
		max-width: 370px;
		margin-bottom: 30px;
	}
	&__button{
		font-size: 15px;
		color: $f436372;
		line-height: 0.8;
		border: 1px solid $f436372;
		border-radius: 5px;
		padding: 23px 87px 25px 20px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			background-image: url('../images/icons/arrowBtn-Dark.svg');
			background-repeat: no-repeat;
			width: 22px;
			height: 9px;
			top: 28px;
			left: 138px;
			position: absolute;
		}
	}
}

@import 'media';