@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
    &__inner{
        background-color: $cwfff;
        display: flex;
        justify-content: space-between;
		align-items: center;
        padding: 48px 0 45px;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 34px;
    }
    &__list-link{
        color: $f436372;
        font-size: 15px;
        line-height: 1;
        @extend %rubik-500;
        
    }
}

.user-nav{
    display: flex;
    &__circleBg{
        width: 52px;
        height: 52px;
        background-color: transparentize(#a3bbc8, .8);
        border-radius: 50%;
        position: relative;
    }
    &__circleBg-img{
        position: absolute;
        top: 18px;
        left: 18px;
    }
    &__ovalBg{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 178px;
        height: 52px;
        background-color: #fcd7b6;
        border-radius: 52px;
        margin-left: 21px;
        position: relative;
        text-align: center;
        line-height: 20px;
        font-size: 10px;
        color: $f243f4d;
    }
    &__ovalBg-img{
        padding: 16px;
    }
    &__num-heart{
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: $cwfff;
        border-radius: 50%;
        top: 11px;
        left: 50px;
    }
    &__num-cars{
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: $cwfff;
        border-radius: 50%;
        top: 11px;
        left: 137px;
        
    }
    &__button{
        width: 52px;
        height: 52px;
        background-color: #a3bbc8;
        border-radius: 50%;
        margin-left: 18px;
        position: relative;
    }
    &__button-img{
        position: absolute;
        top: 15px;
        left: 16px;
    }
}

.footer {
    background-color: $cwfff;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 60px;
    border-bottom: 1px solid transparentize(#a3bbc8, .6);
    &,
    & a{
        font-size: 14px;
        line-height: 24px;
        color: $f7b7b7b;
        @extend %rubik-400;
    }
    &__contacts{
        width: 230px;
        display: block;
        margin-right: 65px;
    }
    &__logo{
        display: block;
        margin-bottom: 30px;
    }
    &__title{
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 26px;
        text-transform: uppercase;
        @extend %dmsans-700;
    }
    &__items-nav{
        column-gap: 165px;
        width: 135px;
        flex: none;
    }
    &__form{
        max-width: 285px;
    }
    &__text{
        margin-bottom: 22px;
    }
    &__form-email{
        background-color: #fef7f0;
        border: none;
        max-width: 170px;
        padding: 14px 16px 15px;
        &::placeholder{
            @extend %dmsans-400;
            color: #234969;
            font-size: 12px;
        }
    }
    &__form-btn{
        border: none;
        background-color: #a3bbc8;
        padding: 14px 17px;
        @extend %dmsans-400;
        color: $cwfff;
        cursor: pointer;
    }
}

.footer-bottom{
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: $f7b7b7b;
    @extend %rubik-400;
    &__menu{
        display: flex;
        & a{
            color: $f7b7b7b;
        }
    }
    &__menu-list + .footer-bottom__menu-list{
        margin-left: 12px;
        padding-left: 14px;
        position: relative;
        &::before{
            content: '|';
            position: absolute;
            left: 0;
        }
    }
}





@import 'media';