.header {
	&__inner {
		background-color: $cfff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 48px 0 45px;
	}
	&__btn{
		display: none;
	}
}

.menu {
	&__list {
		display: flex;
	}
	&__list-item + .menu__list-item {
		padding-left: 34px;
	}
	&__list-link {
		color: $f436372;
		font-size: 15px;
		line-height: 1;
		@extend %rubik-500;
	}
}

.user-nav {
	display: flex;
	&__circleBg {
		width: 52px;
		height: 52px;
		background-color: transparentize(#a3bbc8, 0.8);
		border-radius: 50%;
		position: relative;
	}
	&__circleBg-img {
		position: absolute;
		top: 18px;
		left: 18px;
	}
	&__ovalBg {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 178px;
		height: 52px;
		background-color: $cfcd7b6;
		border-radius: 52px;
		margin-left: 21px;
		position: relative;
		text-align: center;
		line-height: 16px;
		font-size: 10px;
		color: $f243f4d;
	}
	&__ovalBg-img {
		padding: 16px;
	}
	&__num-heart {
		position: absolute;
		width: 16px;
		height: 16px;
		background-color: $cfff;
		border-radius: 50%;
		top: 11px;
		left: 50px;
	}
	&__num-cars {
		position: absolute;
		width: 16px;
		height: 16px;
		background-color: $cfff;
		border-radius: 50%;
		top: 11px;
		left: 137px;
	}
	&__button {
		width: 52px;
		height: 52px;
		background-color: #a3bbc8;
		border-radius: 50%;
		margin-left: 18px;
		position: relative;
	}
	&__button-img {
		position: absolute;
		top: 15px;
		left: 16px;
		
	}
}

@media (max-width: 1100px){
	.header{
		&__inner{
			flex-wrap: wrap;
			position: relative;
		}
		&__btn{
			width: 52px;
			height: 52px;
			border: none;
			padding: 0;
			background-color: $cfcd7b6;
			border-radius: 50%;
			position: relative;
			order: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 18px;
			cursor: pointer;
			span{
				height: 3px;
				width: 21px;
				background-color: #fff;
				position: absolute;
				top: 23px;
			}
			&::after,
			&::before{
				content: '';
				position: absolute;
				height: 3px;
				width: 21px;
				background-color: #fff;
			}
			&::after{
				top: 15px;
			}
			&::before{
				bottom: 18px;
			}
		}
	}
	.logo{
		order: -1;
	}
	.menu{
		width: 100%;
		position: absolute;
		top: 120px;
		transform: translateY(-200%);
		background-color: #fff;
		z-index: 1;
		transition: all .3s;
		&--active{
			transform: translateY(0);
			display: block;
		}
		&__list{
			flex-direction: column;
			align-items: center;
			padding: 15px 0;
		}
		&__list-item{
			width: 100%;
			text-align: center;
		}
		&__list-item + .menu__list-item{
			padding-left: 0;
		}
		&__list-link{
			padding: 15px 0;
			display: block;
		}
	}
	.user-nav{
		margin-left: auto;
		order: -1;
		// width: 100%;
	}
}

@media (max-width: 960px){
	.header{
		&__btn{
			order: -1;
		}
	}
	.user-nav{
		margin-left: initial;
		order: -2;
	}
	.logo{
		order: -2;
	}
	.menu{
		margin-top: 25px;
	}
}

@media (max-width: 640px){
	.user-nav{
		width: 100%;
		margin-top: 30px;
	}
	.header__btn{
		margin-left: auto;
		margin-top: -52px;
	}
	.menu{
		top: 180px;
	}
}

@media (max-width: 480px){
	.logo{
		width: 50%;
	}
	.user-nav{
		&__circleBg{
			position: absolute;
			top: 40px;
			right: 70px;
		}
		&__button{
			margin-left: 0;
			position: absolute;
			top: 40px;
			right: 0;
		}
		&__ovalBg{
			margin-left: 0;
		}
	}
}