.team{
	padding: 120px 0 10px 0;
	&__inner{
		display: flex;
	}
	&__content{
		width: 308px;
		margin-right: 100px;
		color: $f243f4d;
	}
	&__title{
		@extend %dmsans-700;
		font-size: 36px;
		line-height: 32px;
		margin-bottom: 30px;
	}
	&__text{
		@extend %rubik-400;
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 35px;
	}
	&__button{
		@extend %button;
		padding: 24px 60px 21px 18px;
		&::before{
			top: 25px;
			left: 125px;
		}
	}
	&__items{
		display: grid;
		min-height: 800px;
		max-width: 770px;
		grid-template-areas: none;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 38px 30px;
	}
	&__image{
		max-width: 370px;
		width: 100%;
		object-fit: cover;
	}
	&__info{
		max-width: 325px;
		min-width: 320px;
		height: 110px;
		background-color: #fff;
		box-shadow: 0 6px 57px rgba(37, 37, 37, 0.05);
		display: flex;
		justify-content: space-between;
		padding: 20px 26px 30px 18px;
		margin-top: -48px;
		position: relative;
	}
	&__persone-name{
		@extend %dmsans-700;
		font-size: 22px;
		line-height: 26px;
		color: $f436372;
		margin-bottom: 14px;
	}
	&__persone-text{
		@extend %rubik-400;
		font-size: 16px;
		line-height: 30px;
		color: #565872;
	}
	&__socials{
		display: flex;
		margin-top: 12px;
	}
	&__social{
		margin-left: 8px; 
	}
}

@media (max-width: 1300px){
	.team{
		&__inner{
			display: block;
		}
		&__content{
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}
		&__items{
			margin: 0 auto;
		}
	}
}

@media (max-width: 830px){
	.team{
		&__items{
			min-height: auto;
			grid-gap: 20px;
		}
		&__item{
			margin: 0 auto;
		}
		&__info{
			min-width: auto;
			padding: 20px 16px 20px 18px;
		}
		&__persone-name{
			margin-bottom: 6px;
		}
		&__persone-text{
			line-height: 18px;
		}
	}
}

@media (max-width: 640px){
	.team{
		padding-top: 60px;
		&__items{
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: auto;
		}
	}
}

@media (max-width: 480px){
	.team{
		&__image{
			max-width: 320px;
		}
		&__persone-name{
			font-size: 16px;
			line-height: 20px;
		}
		&__persone-text{
			font-size: 14px;
		}
		&__socials{
			margin-top: 0;
		}
	}
}